<!DOCTYPE html>
<html lang="en" data-theme="garden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">Climat Solutions</a>
      </div>

      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Sector</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li>
                  <a href="/solutions/projects?sector=industry">Industry</a>
                </li>
                <li>
                  <a href="/solutions/projects?sector=transportation"
                    >Transportation</a
                  >
                </li>
                <li>
                  <a href="/solutions/projects?sector=electricity"
                    >Electricity</a
                  >
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
    <div class="container mx-auto flex-col">
      <div class="hero bg-base-200 p-6 w-full">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">All about me</h1>
            <p class="py-6">
              lorum ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              quam velit, vulputate eu pharetra nec, mattis ac neque.
            </p>
            <button class="btn btn-primary"><a href="/">Return</a></button>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 justify-center">
        <div class="w-full"><img src="/about.jpg" /></div>
        <div class="w-full">
          <span class="text-5xl">L</span
          ><span class="text-2xl"
            >orem ipsum dolor, sit amet consectetur adipisicing elit. Et, hic.
            Perspiciatis, sint officia illo minus delectus quasi officiis fuga
            quos cupiditate. Atque temporibus laborum impedit officia, omnis
            perferendis soluta nam?</span
          >
        </div>
      </div>
    </div>
  </body>
</html>
